/* style.css para MongoDB Promocional */

body {
  font-family: 'Merriweather', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #4DB33D !important; /* Verde MongoDB */
}

.navbar-brand img {
  margin-right: 8px;
}

h1, h2, h5 {
  font-weight: 600;
  color: #ffffff;
}

.card {
  border: 1px solid #e0e0e0;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-img-top {
    height: 150px;
  }

  .carousel-inner img {
    height: 250px;
  }
}